.projectsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  justify-content: center;

  & > div {
    display: flex;
    flex: none;

    & > button {
      height: 100px;
      width: 100px;
    }
  }
}
