.projectsContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 1fr 2.5fr 5%;
  grid-template-rows: 2fr 1fr 1fr 0.5fr;
  overflow-x: hidden;

  .mainContent {
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: mediumseagreen;
  }

  .techStack {
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: yellowgreen;
  }

  .projectViz {
    grid-column: 3;
    grid-row: 1 / 4;
    background-color: lightcoral;
  }

  .projectNav {
    grid-column: 3;
    grid-row: 4;
    background-color: lightgoldenrodyellow;
  }

  .pageNav {
    grid-column: 2;
    grid-row: 3 / 5;
    background-color: orange;
  }
}
