.vizContainer {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  .vizSubtitle {
    font-size: clamp(1.25rem, 3vw + 0.25rem, 2rem);
    margin: 0.25rem 0;
  }
  .vizText {
    font-size: clamp(1rem, 1vw + 0.125rem, 1.5rem);
  }

  a {
    font-size: clamp(1rem, 1vw + 0.125rem, 1.5rem);
    color: rgba(253, 74, 74, 0.8);
  }

  .projectsIntroList {
    display: flex;
    flex-direction: column;

    button {
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 164px;
        height: 79px;
        border-radius: 4px;
      }

      h1 {
        font-size: clamp(1.25rem, 3vw + 0.25rem, 3rem);
      }

      @media screen and (min-width: 700px) {
        flex-direction: row;
        img {
          width: 358px;
          height: 100px;
        }
      }
      @media screen and (min-width: 1100px) {
        flex-direction: row;
        img {
          width: 358px;
          height: 100px;
        }
      }
    }
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    li {
      font-size: clamp(1rem, 1vw + 0.125rem, 1.5rem);
      list-style: none;
      padding: 0.25rem 0;
    }
  }

  @media screen and (min-width: 700px) {
    iframe {
      width: 358px;
      height: 202px;
    }
  }
  @media screen and (min-width: 850px) {
    iframe {
      width: 448px;
      height: 252px;
    }
  }
  @media screen and (min-width: 1100px) {
    iframe {
      width: 560px;
      height: 315px;
    }
  }
  @media screen and (min-width: 1300px) {
    iframe {
      width: 672px;
      height: 378px;
    }
  }
}
