.projectContainer {
  padding: 0 5%;
  .projectTitle {
    font-size: 2rem;
  }
  .projectText {
    font-size: 1rem;
  }

  ul {
    li {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 700px) {
    .projectTitle {
      font-size: 3rem;
    }
    .projectText {
      font-size: 1.5rem;
    }

    ul {
      li {
        font-size: 1.5rem;
      }
    }
  }
}
