.layoutContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scrollBtn {
    height: min(11vh, 11vw);
    width: min(11vh, 11vw);
    right: 5%;
    border-radius: 50%;
    border-style: none;
    position: fixed;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }

  .top {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .topArrow {
      opacity: 0.5;
      color: whitesmoke;
    }

    .scrollUp {
      top: 2.5%;
      background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 9%,
          rgba(253, 74, 74, 0.5),
          rgba(253, 74, 74, 0.5) 10%
        ),
        repeating-linear-gradient(
          135deg,
          transparent,
          transparent 9%,
          rgba(253, 74, 74, 0.5),
          rgba(253, 74, 74, 0.5) 10%
        ),
        repeating-linear-gradient(
          0deg,
          white,
          white 9%,
          rgba(253, 74, 74, 0.8),
          rgba(253, 74, 74, 0.8) 10%
        );
      color: black;
      font-size: clamp(0.125rem, 0.125rem + 2vw, 1.8rem);
      text-decoration: underline clamp(0.1rem, 0.1rem + 0.25vw, 0.2rem) black;
    }

    &:hover {
      cursor: pointer;
      & > .topArrow {
        opacity: 1;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    &:active {
      cursor: grabbing;
    }
  }

  .bottom {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .scrollDown {
      bottom: 2.5%;
      color: rgba(253, 74, 74, 1);
      font-size: clamp(0.125rem, 0.125rem + 2vw, 1.8rem);
      text-decoration: underline clamp(0.1rem, 0.1rem + 0.25vw, 0.2rem)
        rgba(253, 74, 74, 1);
      background: white
        repeating-linear-gradient(
          22.5deg,
          white,
          white 4%,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 5%
        );
    }

    .bottomArrow {
      opacity: 0.5;
      color: whitesmoke;
    }

    &:hover {
      cursor: pointer;
      & > .bottomArrow {
        opacity: 1;
      }
    }
  }
}
