.layoutContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scrollBtn {
    height: min(15vh, 15vw);
    width: min(15vh, 15vw);
    right: 10%;
    border-radius: 50%;
    border-style: none;
    position: fixed;
    font-weight: bold;
    text-decoration: underline 0.2rem black;
    &:hover {
      cursor: pointer;
    }
  }

  .top {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .topArrow {
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
      & > .topArrow {
        opacity: 1;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
  }

  .bottom {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 74, 74, 0.8);

    .scrollDown {
      bottom: 2.5%;
      background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 9%,
          rgba(253, 74, 74, 0.8),
          rgba(253, 74, 74, 0.8) 10%
        ),
        repeating-linear-gradient(
          135deg,
          transparent,
          transparent 9%,
          rgba(253, 74, 74, 0.8),
          rgba(253, 74, 74, 0.8) 10%
        ),
        repeating-linear-gradient(
          0deg,
          white,
          white 9%,
          rgba(253, 74, 74, 0.8),
          rgba(253, 74, 74, 0.8) 10%
        );
      color: black;
      font-size: 1.5rem;
    }

    .bottomArrow {
      opacity: 0.5;
      color: white;
    }

    &:hover {
      cursor: pointer;
      & > .bottomArrow {
        opacity: 1;
      }
    }
  }
}
