.homeContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 5% 1fr 30% 30% 1fr 5%;
  grid-template-rows: 2.5% 0.5fr 1fr 2fr 1.5fr;
  align-items: center;
  justify-content: center;
  width: 100%;

  .title {
    justify-self: start;
    align-self: start;
    grid-column: 2 / 5;
    grid-row: 2;
    background-color: black;
    color: white;
    font-size: 2rem;
    margin: 0;
  }

  .subTitle {
    justify-self: start;
    align-self: start;
    grid-column: 2 / 5;
    grid-row: 3;
    background-color: black;
    color: white;
    font-size: 1rem;
    z-index: 1;
    margin: 0;
  }

  .textBody {
    grid-column: 2 / 4;
    grid-row: 3;
    justify-self: center;
    align-self: end;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
    margin: 0;
  }

  .japaneseTitle {
    writing-mode: vertical-rl;
    grid-column: 5;
    grid-row: 2 / 6;
    margin: 0;
    justify-self: center;
    align-self: start;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(253, 74, 74, 0.8);
  }

  .japaneseSubtitle {
    writing-mode: vertical-rl;
    grid-column: 5;
    grid-row: 3 / 5;
    margin: 0;
    justify-self: center;
    align-self: end;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(253, 74, 74, 0.8);
  }

  .nav {
    grid-column: 2 / 4;
    grid-row: 5;
    justify-self: start;
    align-self: center;
  }

  @media screen and (min-width: 700px) {
    .title {
      font-size: 3rem;
      grid-column: 2 / 4;
    }
    .subTitle {
      font-size: 1.8rem;
    }
    .textBody {
      font-size: 1.3rem;
    }
    .japaneseTitle {
      font-size: 2rem;
    }
    .japaneseSubtitle {
      font-size: 1.7rem;
    }
  }

  @media screen and (min-width: 1000px) {
    .title {
      font-size: 5rem;
    }
    .subTitle {
      font-size: 2rem;
    }
    .textBody {
      font-size: 1.4rem;
      grid-column: 2 / 4;
      grid-row: 2 / 4;
      justify-self: start;
      align-self: end;
    }
    .japaneseTitle {
      font-size: 3rem;
      justify-self: end;
      align-self: start;
    }
    .japaneseSubtitle {
      font-size: 2rem;
      grid-column: 5;
      grid-row: 2 / 5;
      justify-self: start;
      align-self: start;
    }
  }

  @media screen and (min-width: 1500px) {
    .title {
      font-size: 6rem;
    }
    .subTitle {
      font-size: 3rem;
    }
    .textBody {
      font-size: 1.5rem;
    }
    .japaneseTitle {
      font-size: 4rem;
    }
    .japaneseSubtitle {
      font-size: 2.25rem;
      justify-self: center;
    }
  }

  .circleContainer {
    grid-column: 3 / 5;
    grid-row: 2 / span 3;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 0;
  }
}
