.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.circleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
}

.circle {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  color: rgba(253, 74, 74, 0.8);
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.circle:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

@media screen and (min-width: 700px) {
  .circle {
    width: 600px;
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .circle {
    width: 900px;
    font-size: 3em;
  }
}

.circleText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circleText > span {
  white-space: nowrap;
  font-size: 0.5em;
}

.circleText:hover {
  color: rgba(192, 61, 61, 0.5);
}

.circleLink {
  color: rgba(253, 74, 74, 1);
}

.circleLink:hover {
  color: rgba(253, 74, 74, 1);
}
