.homeContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 5% 1fr 30% 30% 1fr 5%;
  grid-template-rows: 2.5% 0.5fr 1fr 2fr 1.5fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;

  .title {
    justify-self: start;
    align-self: start;
    grid-column: 2 / 5;
    grid-row: 2;
    background-color: black;
    color: white;
    font-size: clamp(2.5rem, 6vw + 1rem, 6rem);
    margin: 0;
  }

  .subTitle {
    justify-self: start;
    align-self: start;
    grid-column: 2 / 5;
    grid-row: 3;
    background-color: black;
    color: white;
    font-size: clamp(1.25rem, 3vw + 0.25rem, 3rem);
    z-index: 1;
    margin: 0;
  }

  .textBody {
    grid-column: 2 / 4;
    grid-row: 3;
    justify-self: center;
    align-self: end;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
    margin: 0;
  }

  .japaneseTitlesContainer {
    grid-column: 5;
    grid-row: 2 / 7;
    justify-self: end;
    align-self: start;
    justify-content: flex-end;
    align-content: flex-end;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    margin: 0;
    background-color: transparent;
  }

  .japaneseTitle {
    writing-mode: vertical-rl;
    margin: 0;
    font-size: clamp(1.25rem, 5vw + 0.6rem, 4rem);
    font-weight: bold;
    color: white;
    background-color: rgba(253, 74, 74, 0.8);
  }

  .japaneseSubtitle {
    writing-mode: vertical-rl;
    justify-self: start;
    align-self: start;
    margin: 0;
    font-size: clamp(1rem, 2.5vw + 0.25rem, 2.75rem);
    font-weight: bold;
    color: white;
    background-color: rgba(253, 74, 74, 0.8);
  }

  .nav {
    grid-column: 2 / 4;
    grid-row: 5;
    justify-self: start;
    align-self: center;
  }

  @media screen and (min-width: 400px) {
    .japaneseTitle {
      justify-content: start;
    }
  }

  @media screen and (min-width: 700px) {
    .title {
      grid-column: 2 / 6;
    }
    .textBody {
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 1000px) {
    .japaneseTitle {
      justify-self: end;
      align-self: start;
    }
    .japaneseSubtitle {
      grid-column: 5;
      grid-row: 2 / 5;
    }
  }

  .circleContainer {
    grid-column: 3 / 5;
    grid-row: 2 / span 3;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    position: fixed;
    z-index: 0;
  }
}
